@model IEnumerable<Web_dienthoai.Models.SanPham>

@{
    ViewBag.Title = "Sản phẩm theo Giá";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-md-3">
            @Html.Action("Sidebar", "HTSanPham")

        </div>
        <div class="col-md-9">
            <h2 class="text-center text-danger align-content-center">Sản phẩm theo giá: @ViewBag.SelectedPriceRange</h2>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card product-card" style="height:350px">
                            <a href="@Url.Action("Details", "HTSanPham", new { id = item.SanPhamID })" class="stretched-link"></a>
                            <img class="card-img-top" src="~/img/img_sp/@item.HinhAnh" alt="@item.TenSanPham">
                            <div class="card-body">
                                <h5 class="card-title">@item.TenSanPham</h5>
                                <p class="card-text text-danger">@item.Gia ₫</p>
                                <p class="card-text text-muted">Số lượng còn: @item.SoLuongTon</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
